@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  --light-blue: #C9FFFD;
  --light-green: #64CCC9;
  --light-purple: #C5A4F4;
  --purple: #39215c;
}
h2{
  font-size: 2.4rem;
  color: var(--purple);
}
p {
  font-size: 1.4rem;
  font-weight: 700;
  color:var(--purple);
}
a {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--light-green);
  text-decoration: none;
  border-bottom: 1px solid var(--light-green);
  padding-bottom: 2px;
}
body {
  min-height: 100vh;
  background: rgb(201,255,253);
  background: linear-gradient(45deg, rgba(201,255,253,1) 40%, rgba(197,164,244,1) 60%);
  background-repeat: no-repeat;
}
header {
  width: 100vw;
  height: 90px;
  padding: 15px 7vw;
  display: flex;
  align-items: center;
}
header img{
  width: 75px;
  object-fit: contain;
}
header p{
  font-family: 'Pacifico', cursive;
  font-size: 4.5rem;
  color: #6b47b5;
  margin-left: 10px;
}
.main-options {
  width: 95vw;
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-options h2 {
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
}
.main-options form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center;
}
.main-options .item-label {
  grid-column: 1;
  width: 95%;
  max-width: 400px;
  height: 200px;
  margin: 15px 0;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 130px 1fr;
  place-items: center;
  border-radius: 10px;
  background: rgb(201,255,253);
  background: linear-gradient(45deg, rgba(201,255,253,1) 60%, rgba(197,164,244,1) 97%);
  box-shadow:  6px -6px 15px #6A3EA8,
          -6px 6px 15px #64CCC9;
}
.main-options .item-label:nth-child(even) {
  grid-column: 2;
}
.main-options .item-label .item-image{
  grid-column: 1 / 3;
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.main-options .item-label input{
  justify-self: right;
}
.main-options .item-label .item-label--descrip{
  justify-self: left;
  margin-left: 15px;
}
.main-options .item-label .item-label--clothes{
  font-size: 1.8rem;
}
.main-options .item-label .item-label--price{
  margin: 5px 0;
  font-weight: 400;
}
.main-options #submit-button {
  grid-column: 2;
  width: 110px;
  height: 40px;
  margin-top: 20px;
  border: 0;
  font-size: 1.6rem;
  font-weight: 900;
  border-radius: 6px;
  background: var(--light-blue);
  box-shadow:  6px -6px 15px #6A3EA8,
            -6px 6px 15px #64CCC9;
  cursor: pointer;
}
.logo-credit{
  margin-top: 20px;
  font-size: 1.2rem;
  margin-left: 15px;
  align-self: flex-start;
}
.logo-credit a{
  font-size: 1.2rem;
}
/* Estilos Casshout */
.main-cashout{
  width: 95vw;
  max-width: 1300px;
  min-height: 80vh;
  margin: 10px auto;
}
.main-cashout .product-list-container {
  width: 90%;
  max-width: 600px;
  min-height: 80%;
  padding: 70px 30px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: rgb(201,255,253);
  background: linear-gradient(45deg, rgba(201,255,253,1) 60%, rgba(197,164,244,1) 97%);
  box-shadow:  6px -6px 15px #6A3EA8,
          -6px 6px 15px #64CCC9;
}
.main-cashout .product-list-container .product,
.main-cashout .product-list-container .total {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  text-transform: capitalize;
}
.main-cashout .product-list-container > div p{
  font-size: 2rem;
  font-weight: 700;
}
.main-cashout .product-list-container .total {
  border-top: 1px solid var(--purple);
  padding-top: 10px;
}
.main-cashout .product-list-container a{
  font-size: 1.6rem;
  font-weight: 700;
  align-self: start;
  width: fit-content;
  margin-top: 10px;
}
.card-form-container {
  width: 90%;
  max-width: 600px;
  max-height: 700px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  width: 100%;
  height: 70px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer p {
  font-size: 1.8rem;
}
footer span{
  width: 30px;
  height: 30px;
  margin: 0 13px;
  vertical-align: middle;
  background-color: var(--purple);
}
footer #facebook {
  -webkit-mask: url('assets/icons/facebook.svg') no-repeat 90% 90%;
  mask: url('assets/icons/facebook.svg') no-repeat 90% 90%;
  -webkit-mask-size: contain;
  mask-size: contain;
}
footer #instagram {
  -webkit-mask: url('assets/icons/instagram.svg') no-repeat 100% 100%;
  mask: url('assets/icons/instagram.svg') no-repeat 100% 100%;
  -webkit-mask-size: contain;
  mask-size: contain;
}
footer #pinterest {
  -webkit-mask: url('assets/icons/pinterest.svg') no-repeat 100% 100%;
  mask: url('assets/icons/pinterest.svg') no-repeat 100% 100%;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.main-options #submit-button:hover {
  background: var(--purple);
  color: var(--light-blue);
}
a:hover {
  color: var(--purple);
  border-bottom: 1px solid var(--purple);
}
footer span:hover{
  background-color: var(--light-green);
  cursor: pointer;
}