@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  --light-blue: #C9FFFD;
  --light-green: #64CCC9;
  --light-purple: #C5A4F4;
  --purple: #39215c;
}
h2{
  font-size: 2.4rem;
  color: var(--purple);
}
p {
  font-size: 1.4rem;
  font-weight: 700;
  color:var(--purple);
}
a {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--light-green);
  text-decoration: none;
  border-bottom: 1px solid var(--light-green);
  padding-bottom: 2px;
}
body {
  min-height: 100vh;
  background: rgb(201,255,253);
  background: linear-gradient(45deg, rgba(201,255,253,1) 40%, rgba(197,164,244,1) 60%);
  background-repeat: no-repeat;
}
header {
  width: 100vw;
  height: 90px;
  padding: 15px 7vw;
}
header img{
  width: 75px;
  object-fit: contain;
}
.main-options {
  width: 95vw;
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-options h2 {
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
}
.main-options form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center;
}
.main-options .item-container {
  grid-column: 1;
  width: 90%;
  max-width: 400px;
  height: 200px;
  margin: 15px 0;
  display: grid;
  grid-template-rows: 150px 1fr;
  place-items: center;
  border-radius: 10px;
  background: rgb(201,255,253);
  background: linear-gradient(45deg, rgba(201,255,253,1) 60%, rgba(197,164,244,1) 97%);
  box-shadow:  6px -6px 15px #6A3EA8,
          -6px 6px 15px #64CCC9;
}
.main-options .item-container:nth-child(even) {
  grid-column: 2;
}
.main-options .item-container .item-image{
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.main-options .item-container .item-label {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-options #submit-button {
  grid-column: 2;
  width: 110px;
  height: 40px;
  margin-top: 20px;
  border: 0;
  font-size: 1.6rem;
  font-weight: 900;
  border-radius: 6px;
  background: var(--light-blue);
  box-shadow:  6px -6px 15px #6A3EA8,
            -6px 6px 15px #64CCC9;
}
.main-options .logo-credit{
  margin-top: 20px;
  font-size: 1.2rem;
  margin-left: 20px;
  align-self: flex-start;
}
.main-options .logo-credit a{
  font-size: 1.2rem;
}
/* Estilos Casshout */
.main-cashout{
  width: 95vw;
  max-width: 1200px;
  min-height: 80vh;
  margin: 10px auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.main-cashout .product-list-container {
  width: 90%;
  max-width: 600px;
  min-height: 80%;
  padding: 30px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(4vh,8vh);
  border-radius: 10px;
  background: rgb(201,255,253);
  background: linear-gradient(45deg, rgba(201,255,253,1) 20%, rgba(197,164,244,1) 80%);
  box-shadow:  6px -6px 15px #6A3EA8,
          -6px 6px 15px #64CCC9;
}
.main-cashout .product-list-container p{
  margin: 10px 0;
  padding: 0 20px;
}
.main-cashout .product-list-container .product-cost{
  justify-self: right;
}
.main-cashout .product-list-container a{
  width: fit-content;
  margin-top: 10px;
}
.card-form-container {
  width: 90%;
  max-width: 600px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*  Estilos Generales de las Tarjetas */
.card-form-container .card{
  width: 100%;
  max-width: 480px;
  position: relative;
  transition: .3s ease all;
  transform: rotate(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  cursor: pointer;
  z-index: 2;
}
.card-form-container .card.active{
  transform: rotateY(180deg)
}
.card-form-container .card > div {
  padding: 30px;
  border-radius: 15px;
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 0 10px rgba(90, 116,148,0.3);
}
/* Card's front-face */
.card .front-face {
  width: 100%;
  /* background */
}
.front-face .logo-brand{
  text-align: right;
  min-height: 50px;
}
.front-face .logo-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 80px;
}
.front-face .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom: 20px;
}
.front-face .flexbox{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.front-face .group .label {
  font-size: 1.6rem;
  /* color */
  margin-bottom: 5px;
}
/* Color de información y tamaño en mayusculas*/

/* Card's Back Face */
.card .back-face {
  width: 100%;
  /* background */
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.back-face .magnetic-band {
  height: 40px;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}
.back-face .data {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.back-face .data p{
  margin-bottom: 5px;
}
.back-face .data #firm-container{
  width: 70%;
}
.back-face .data #firm-container .firm{
  height: 40px;
  background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}
.back-face .data .firm p {
  line-height: 40px;
  /* font family y color*/
  padding: 0 10px;
  text-transform: capitalize;
}
.back-face .data #ccv-container{
  width: 20%;
}
.back-face .data #ccv-container .ccv{
  background: white;
  height: 40px;
  color: black;
  padding: 10px;
  text-align: center;
}
.back-face .legend{
  line-height: 24px;
}
.back-face .link-card{
  width: fit-content;
}
footer {
  width: 100%;
  height: 70px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer p {
  font-size: 1.8rem;
}
footer span{
  width: 40px;
  height: 40px;
  margin: 0 13px;
  vertical-align: middle;
  background-color: var(--purple);
}
footer #facebook {
  -webkit-mask: url('assets/icons/facebook.svg') no-repeat 90% 90%;
  mask: url('assets/icons/facebook.svg') no-repeat 90% 90%;
  -webkit-mask-size: contain;
  mask-size: contain;
}
footer #instagram {
  -webkit-mask: url('assets/icons/instagram.svg') no-repeat 100% 100%;
  mask: url('assets/icons/instagram.svg') no-repeat 100% 100%;
  -webkit-mask-size: contain;
  mask-size: contain;
}
footer #pinterest {
  -webkit-mask: url('assets/icons/pinterest.svg') no-repeat 100% 100%;
  mask: url('assets/icons/pinterest.svg') no-repeat 100% 100%;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.main-options #submit-button:hover {
  background: var(--purple);
  color: var(--light-blue);
  cursor: pointer;
}
a:hover {
  color: var(--purple);
  border-bottom: 1px solid var(--purple);
}
footer span:hover{
  background-color: var(--light-green);
  cursor: pointer;
}